//colors
$fistColor: black;
$secondColor: white;

[data-theme="dark"] {
  --primaryColor: #222831;
  --secondaryColor: #393e46;
  --tertiaryColor: #00adb5;
  --quaternaryColor: #eeeeee;
}

[data-theme="light"] {
  --primaryColor: #eaeaea;
  --secondaryColor: #ff2e63;
  --tertiaryColor: #08d9d6;
  --quaternaryColor: #252a34;
}
