//colors
$fistColor: black;
$secondColor: white;

[data-them="dark"] {
  --primaryColor: #222831;
  --secondaryColor: #393e46;
  --tertiaryColor: #00adb5;
  --quaternaryColor: #eeeeee;
}

[data-them="light"] {
  --primaryColor: #eaeaea;
  --secondaryColor: #ff2e63;
  --tertiaryColor: #252a34;
  --quaternaryColor: #08d9d6;
}
