@import "../Games/TicTacToe/styles/styles.scss";
@import "variable";
@import "./mixins";
$body-color: var(--primaryColor);
body {
  color: var(--quaternaryColor);
  background-color: var(--primaryColor);
}
// div#root {
//   display: flex;
// }
// table,
// th,
// td {
//   border: 5px solid black;
//   text-align: center;
//   border-collapse: collapse;
//   background-color: bisque;
// }
// td {
//   width: 5vw;
//   height: 5vw;
//   font-size: 3rem;
//   cursor: pointer;
// }

//style draft
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  --primaryColor: #222831;
  --secondaryColor: #393e46;
  --tertiaryColor: #00adb5;
  --quaternaryColor: #eeeeee;
}

table,
th,
td {
  border: 5px solid black;
  text-align: center;
  border-collapse: collapse;
  background-color: bisque;
}
td {
  width: 5vw;
  height: 5vw;
  font-size: 3rem;
  cursor: pointer;
}

.container {
  display: flex;
  background-color: var(--primaryColor);
  min-height: 100vh;
}

.gameList {
  background-color: var(--primaryColor);
}

.gameList button {
  width: 100%;
  text-align: left;
  padding: 1vh 1vw;
}

.activeGame {
  display: flex;
  width: 100%;
}

.gamePanel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
  flex-grow: 1;
  background-color: var(--secondaryColor);
}

.gameTitle {
  background-color: var(--primaryColor);
  text-align: center;
}
.gameTitle > h1 {
  padding: 1vw;
}

.gameMenu {
  display: flex;
  min-height: 5vh;
  justify-content: space-around;
  align-items: center;
  background-color: orangered;
}

.gameMenu button {
  padding: 1vw;
}
.gameMenu #inputBoardSizeStyle {
  padding: 1vw;
}
.gameBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--quaternaryColor);
  min-height: 50%;
}

.gameHistory {
  width: 20%;
  background-color: var(--primaryColor);
}
