@import "./mixins";
@import "../Games/TicTacToe/styles/styles.scss";
@import "variable";

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  @include colors(var(--quaternaryColor), var(--primaryColor));
}

.container {
  display: flex;
  background-color: var(--primaryColor);
  min-height: 100vh;
  .gameList {
    background-color: var(--primaryColor);
    margin-top: 10vh;
    h4 {
      text-align: center;
      margin-bottom: 1vh;
    }
    & > button {
      background-color: var(--tertiaryColor);
      margin-bottom: 2vh;
    }
    button {
      width: 100%;
      text-align: left;
      padding: 1vh 1vw;
    }
  }
  .activeGame {
    display: flex;
    width: 100%;
  }
}
