[data-theme="blue"] {
  --primaryColor: #3ec1d3;
  --secondaryColor: #ff165d;
  --tertiaryColor: #ff9a00;
  --quaternaryColor: #f6f7d7;
}

[data-theme="orange"] {
  --primaryColor: #ff6f3c;
  --secondaryColor: #ff9a3c;
  --tertiaryColor: #ff9a3c;
  --quaternaryColor: #155263;
}
