@import "table";
@import "variable";

.TicTacToeGame {
  display: flex;
  width: 100%;
  .gamePanel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    flex-grow: 1;
    background-color: var(--secondaryColor);
    .gameTitle {
      background-color: var(--primaryColor);
      text-align: center;
      h1 {
        padding: 1vw;
      }
    }
    .gameMenu {
      display: flex;
      min-height: 5vh;
      justify-content: space-around;
      align-items: center;
      background-color: orangered;
      button,
      select,
      #inputBoardSizeStyle {
        margin-left: 1vw;
        padding: 1vw;
      }
    }
    .gameBoard {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--quaternaryColor);
      min-height: 50%;
    }
    .gameInfoBox {
      font-size: 4rem;
      text-align: center;
      margin: auto 0;
    }
  }
  .gameHistory {
    width: 20%;
    background-color: var(--primaryColor);
  }
}
